<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <springProfile name="logstash">
        <springProperty name="appName" source="spring.application.name"/>

        <appender name="STASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            <destination>localhost:7500</destination>
            <keepAliveDuration>5 minutes</keepAliveDuration>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <includeContext>false</includeContext>
                <customFields>{"app":"${appName}", "host":"${HOSTNAME}"}</customFields>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
            <appender-ref ref="STASH"/>
        </root>
    </springProfile>

</configuration>