html,
body {
  height: 100%;
}

body {  
  background-color: #f5f5f5;
}

.main-content-wrapper {
  flex-grow: 1;
  padding: 1rem 1rem 0 1rem;
  display: flex;
  flex-direction: column;
}

.main-content {
  background-color: white;   
  padding: 1.5rem;
  border-radius: .25rem;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
  flex-grow: 1;
}

.main-content-title {
  font-weight: bold;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

@media (max-width: 768px) {
  
  .main-content-wrapper {
    padding-right: 0;
    padding-left: 0;
  }
}